<launch>
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0 0 0.0 /map /odom 10"/> -->
  <node pkg="tf" type="static_transform_publisher" name="base_dummy" args="0.0 0.0 0.0 0 0 0.0 /base_link /base_footprint 10"/>

  <!-- <include file="$(find ca_driver)/launch/hector_slam_create.launch" /> -->
  <!-- <include file="$(find ca_driver)/launch/gmap_kkreate_params.launch" /> -->
  <include file="$(find ca_driver)/launch/test_astar.launch" />

  <include file="$(find ca_driver)/launch/just_move_base.launch" />

  <node pkg="ca_driver" type="kkreate_local_planner.py" name="kkreate_planner" output="screen">
    <!-- <remap from="/move_base/GlobalPlanner/plan" to="path" /> -->
    <!-- odom_enc is from the create2 driver, odom_gyro is odom_enc + gyro -->
    <!-- kkreate local planner only uses odom twist.linear.x for speed control -->
  </node>

</launch>
